body{
	background-color: lightgray;
}

h1{
	font-size: 30px;
	color: #40826D;
}

h2{
	font-size: 20px;
	color: #0B132B;
}

.big{
	font-size: 60px;
}

.uppercase{
	text-transform: uppercase;
}

.big.uppercase {
	color: #63535B;
}

h1 span{
	color: #6D1A36;
}